<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Kate Buxton | Website Design & Development</title>
    <meta name="description" content="London-based developer building elegant, functional and user-friendly websites.">

        <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Kate Buxton | Website Design & Development" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="www.katebuxton.co.uk" />
    <meta property="og:image" content="/images/meta-logo.jpg" />
    <meta property="og:description" content="London-based designer and developer building elegant, functional and user-friendly websites." />
    <meta property="og:site_name" content="Kate Buxton | Website Design & Development" />

    <link href="/images/favicon.ico" rel="shortcut icon">
    <%= stylesheet_link_tag "application" %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700|Roboto:500,900|Open+Sans:300,400" rel="stylesheet">
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= partial "layouts/navbar.html" %>
    <%= yield %>
    <%= partial "layouts/footer.html" %>
  </body>
</html>
